@reference "tailwindcss";

.root {
  @apply
    absolute
    size-full
    inset-0
    grid
    pointer-events-none
    p-0;
  grid-template-rows: 1fr auto 3fr 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: '. . .'
                'filter . compass'
                '. . .'
                '. . .'
                'menu . call';
}

.filter {
  @apply pl-[var(--spacing-toolbar-padding)] grid items-center w-20;
  grid-area: filter;
}

.menu {
  @apply grid place-items-start p-0;
  grid-area: menu;
}

.arrows {
  @apply absolute inset-0 size-full pointer-events-none;
}

.btn {
  @apply
    bg-[var(--color-background-filter)]/70
    backdrop-blur-sm
    rounded-md
    py-2
    px-10
    pointer-events-auto
    hover:bg-[var(--color-background-filter)]/90
    active:scale-95
    transition;
}

