@reference "tailwindcss";

.detail_btn {
  @apply
  flex
  items-center
  gap-2
  bg-transparent
  border-0
  p-0
  cursor-pointer;

  &:hover {}
}

.detail_text {
  @apply
  text-[10px]
    md:text-[15px]
  text-[var(--color-text-white)]
  align-bottom
  capitalize;
}

.detail_icon {
  @apply
  flex
  h-3
  w-2
  rounded-full
  stroke-[var(--color-text-white)]
  fill-[var(--color-text-white)];
}

.detail_icon_wrap {
  @apply
  flex
  items-center
  justify-center
  h-[12px]
  w-[5px]
    md:size-[40px]
  md:border
  rounded-full;
  border-color: var(--color-dark-300);
}
