@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-white-200: #D2D2D2;
  --color-white-100: #F3EFE9;
  --color-white: #FFFFFF;

  --color-gold: #D9B48F;

  --color-red: #EA3B54;

  --color-dark-300: #989898;
  --color-dark-200: #282727;
  --color-dark-100: #2D2D2D;
  --color-dark: #000000;

  --toolbar-padding: 40px;
  --background: var(--color-dark-200);
}

@theme inline {
  --color-background: var(--background);
}

@theme {
  --font-gilroy: 'Gilroy', sans-serif;
  --font-arsenal: 'Arsenal', sans-serif;

  --color-white-100: var(--color-white-100);
  --color-white: var(--color-white);

  --color-gold: var(--color-gold);

  --color-red: var(--color-red);

  --color-dark-300: var(--color-dark-300);
  --color-dark-200: var(--color-dark-200);
  --color-dark-100: var(--color-dark-100);
  --color-dark: var(--color-dark);

  --color-text-white: var(--color-white-200);
  --color-text-dark: var(--color-dark-200);

  --color-controls-btn: var(--color-white);
  --color-favourite-bg: var(--color-dark-100);
  --spacing-toolbar-padding: 40px;
  --header-height: 100px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-dark-200);
  }
}

@layer base {
  body {
    @apply antialiased bg-white text-slate-900 font-gilroy;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    place-items: center;
  }

  h1 {
    @apply text-4xl leading-tight;
  }

  a {
    @apply font-medium text-[#646cff] no-underline;
  }

  a:hover {
    @apply text-[#535bf2];
  }
}
