@reference "tailwindcss";

.root {
  @apply
  h-dvh
  w-dvw
  grid
  px-4
  pt-[var(--toolbar-padding)]
  overflow-hidden
  bg-[var(--background)];

  grid-template-areas: 'filter-open .'
  'filter-open .'
  'content content';
}

.filter {
  @apply
    absolute
    top-0
    left-0
  h-lvh
  w-lvw
  -translate-x-full
  transition-transform
  duration-300
  z-10;
}

.content {
  @apply
  overflow-y-auto
  overflow-x-hidden
  mt-2;

  grid-area: content;
}

.open {
  @apply translate-x-0;
}

.filter_open {
  grid-area: filter-open;
  align-content: center;
}
